body.recipe {
    background-color: #ffeae6;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    width: 60%;
    text-align: center;
}

.ingredients {
    text-align: left;
    display: flex;
    justify-content: center;
}

.center {
    margin: 0 auto;
}

p {
    width: 60%;
}

.index {
    display: flex;
    justify-content: center;
}

/* Removing bullets from Index list */
.no-bullets {
    list-style-type: none;
}