body.recipe {
    background-color: #ffeae6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%;
}

ol, p, .container ul {
    width: 60%;
    text-align: left;
}

ol li div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 1rem;
    border-radius: 1rem;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Removing bullets from Index list */
.no-bullets {
    list-style-type: none;
}